<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="center.misaki.device.Form.dao.FormMapper">
    
    <select id="selectOneFormFields" parameterType="java.lang.Integer" resultType="java.lang.String">
        select form.form_fields from form where form.id=#{arg0} and form.tenement_id=#{arg1}
    </select>
    
    
    <select id="selectType" resultType="java.lang.Integer">
        select form.form_type from form where form.id=#{arg0}
    </select>
    
    <select id="selectSimpleForms" resultType="center.misaki.device.Form.vo.MenuFormVo$SimpleFormVo">
        select id as formId ,form_name as formName,form_type as type from form where form.menu_id=#{arg0}
    </select>
    
</mapper>