<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="center.misaki.device.Flow.dao.WorkLogMapper">
    
    <select id="getFlowNodes" resultType="java.lang.String">
        select flow.flow_nodes from flow,flowLog where flow.id=flowLog.flow_id and flowLog.id=#{arg0}
    </select>
    
    <select id="getStartUserId" resultType="java.lang.Integer">
        select workLog.user_id from workLog where flow_log_id=#{arg0} and state = 1 limit 1
    </select>
    
    <select id="getWorkStartTime" resultType="java.time.LocalDateTime">
        select create_time from workLog where id=#{arg0}
    </select>
    
</mapper>